aiohttp==3.10.5
auto_mix_prep==0.2.0
beautifulsoup4==4.12.3
colorlog==6.8.2
keybert==0.8.5
matplotlib==3.9.2
nltk==3.9.1
numpy==2.1.2
pandas==2.2.3
Pillow==11.0.0
plotly==5.24.0
praw==7.7.1
protobuf==5.28.2
pymongo==4.10.1
python-dotenv==1.0.1
Requests==2.32.3
seaborn==0.13.2
streamlit==1.38.0
streamlit_echarts==0.4.0
tenacity==8.5.0
transformers==4.44.2
